//META{"name":"Bear Smoothie","description":"Smoothed-out dark theme.","author":"Bear","version":"-latest"}*//{}



/*
 ▄▄▄▄▄▄▄▄▄▄   ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄       ▄▄▄▄▄▄▄▄▄▄▄  ▄▄       ▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄         ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░░░░░░░░░░░▌▐░░▌     ▐░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌     ▐░█▀▀▀▀▀▀▀▀▀ ▐░▌░▌   ▐░▐░▌▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌ ▀▀▀▀█░█▀▀▀▀ ▐░▌       ▐░▌ ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ 
▐░▌       ▐░▌▐░▌          ▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌          ▐░▌▐░▌ ▐░▌▐░▌▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░▌       ▐░▌     ▐░▌     ▐░▌          
▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄█░▌     ▐░█▄▄▄▄▄▄▄▄▄ ▐░▌ ▐░▐░▌ ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░█▄▄▄▄▄▄▄█░▌     ▐░▌     ▐░█▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░░░░░░░░░░░▌▐░▌  ▐░▌  ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░░░░░░░░░░░▌     ▐░▌     ▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀█░█▀▀       ▀▀▀▀▀▀▀▀▀█░▌▐░▌   ▀   ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░█▀▀▀▀▀▀▀█░▌     ▐░▌     ▐░█▀▀▀▀▀▀▀▀▀ 
▐░▌       ▐░▌▐░▌          ▐░▌       ▐░▌▐░▌     ▐░▌                 ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░▌       ▐░▌     ▐░▌     ▐░▌          
▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░▌       ▐░▌▐░▌      ▐░▌       ▄▄▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄█░▌     ▐░▌     ▐░▌       ▐░▌ ▄▄▄▄█░█▄▄▄▄ ▐░█▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌       ▐░▌     ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░▌     ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
 ▀▀▀▀▀▀▀▀▀▀   ▀▀▀▀▀▀▀▀▀▀▀  ▀         ▀  ▀         ▀       ▀▀▀▀▀▀▀▀▀▀▀  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀       ▀       ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀
 */

:root {
    --text-normal:#BBBBBB;
    --header-primary:#BBBBBB;
    --main-color: #777777;
    --hover-color: #BBBBBB;
    --channel-color: #777777;
	--channels-default: #777777;
	--background-message-hover: rgba(0,0,0,0);
	--selection-color: rgb(124, 157, 198);
    --emoji-size: 30px;
    --chatavatar-size: 50px;
	--interactive-normal: #777777;
	--interactive-active: #999999;
    --interactive-hover: #BBBBBB;
	--background-primary: var(--backgroundDark);
	--background-modifier-hover: rgba(0,0,0,0);
	--background-mentioned-hover: rgba(47,47,47,.5);
	--backgroundDark: rgba(20, 20, 20, 1);
    --background-tertiary: rgb(30,30,30);
	--selection-color: rgb(124, 157, 198);
	--text-link:rgb(124, 157, 198);
	--deprecated-text-input-border-hover:#555555;
	--deprecated-text-input-border:#333333;
	--elevation-high:var(--elevation-medium);
}

/* 
1. MAIN
2. SERVER LIST
3. SERVER 
4. CHAT  
5. CALL & VIDEO   
6. HOME 
7. USER
8. USER & SERVER SETTINGS
9. MISC & PLUGINS
*/



/*---------------------------------------------------- 1. MAIN ----------------------------------------------------*/

/* main background color */
.chat-2ZfjoI,.chat-2ZfjoI form,.container-1-ERn5,.container-YkUktl,.members-3WRCEx,.members-3WRCEx>div,.title-31SJ6t,
.typeWindows-2-g3UY,.scroller-1ox3I2,.scroller-3X7KbA,.container-ZMc96U,.container-ZMc96U.themed-Hp1KC_,.button-12Fmur,
.appMount-2yBXZl,.panels-3wFtMD,.searchBar-zdmu7v,.customScroller-m1-jZn,.scroller-WSmht3,.tabBody-2dgbAs,.container-1oAagU,
.container-2o3qEW, .membersWrap-3NUR2t{background-color: var(--backgroundDark) !important;}

/* category and role container */
.container-q97qHp {background-color: transparent !important;}

/* text selection */
::selection {background-color: var(--selection-color);}

/* scrollbar */
.auto-2K3UW5::-webkit-scrollbar {width: 0px;}

/* username flicker on server hover fix 
:root, span {
    backface-visibility: hidden;
}*/




/*---------------------------------------------------- 2. SERVER LIST ----------------------------------------------------*/
/* notification pill */
.item-2LIpTv{ background-color: rgb(220,220,220); overflow: none;}

/* add and explore server */
.circleIconButton-1VxDrg,.header-2o-2hj,.base-21yXnu,.theme-dark .content-Qb0rXO,.theme-dark .contentTitle-3CylD3 strong {color: #777777;}
.circleIconButton-1VxDrg.selected-2r1Hvo{background-color: rgb(40,40,40);}
.circleIconButton-1VxDrg{background-color: transparent;}

/* folders */
.folder-241Joy{background-color: rgba(25,25,25,1);}
.folder-241Joy.hover-3m7-WT{background-color: rgba(40,40,40,1);}
.backdrop-2ByYRN,.backdropWithLayer-3_uhz4{background-color:rgba(0,0,0,.23) !important; backdrop-filter: blur(1px);}
.theme-dark .tooltipPrimary-3qLMbS{background-color: rgb(30,30,30) !important;}
.expandedFolderBackground-1kSAf6{display:none;}

/*folder settings*/
.header-1zd7se,.content-2hZxGK,.theme-dark .footer-31IekZ,.theme-dark .modal-6GHvdM .tabBarContainer-sCZC4w{background-color: rgb(25,25,25) !important; border-color: rgb(25,25,25)}

/* bear logo */
/* https://i.imgur.com/XI542cK.png  bear with twirl*/
#app-mount .wrapper-3kah-n .childWrapper-1j_1ub {
    background: url(https://i.imgur.com/v6cyUMK.png) center/contain no-repeat; 
	position: absolute;
	border-radius: var(--HSL-roundnessHover);
}
#app-mount .wrapper-3kah-n .childWrapper-1j_1ub:hover{
	background-color: rgba(25,25,25,0);
}
#app-mount .wrapper-3kah-n .childWrapper-1j_1ub::after{
	background: rgba(20,20,20,.55);
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: background .25s ease-in;
	border-radius: var(--HSL-roundnessHover);
}
#app-mount .wrapper-3kah-n .childWrapper-1j_1ub:hover::after{
	background: rgba(40,40,40,0);
}
.homeIcon-r0w4ny {
    display: none;
}

/* guild separator */
.guildSeparator-a4uisj{display: none;}



/*---------------------------------------------------- 3. SERVER ----------------------------------------------------*/
/*server banner*/	
.bannerImage-ubW8K-,.animatedContainer-2laTjx{position:absolute; z-index:2;}
.header-3OsQeK{color: var(--main-color); box-shadow: none;}
.header-3OsQeK:hover{color: var(--hover-color);}

/* channel header */
.theme-dark .children-3xh0VB:after{background: transparent;}
.content-1jQy2l:before{box-shadow: none;}

/* channel selected */
.wrapper-NhbLHG.modeSelected-3DmyhH{background-color: rgba(30,30,30,0) !important;}
.wrapper-NhbLHG:hover.modeSelected-3DmyhH{background-color:rgb(30,30,30);}
.modeSelected-3DmyhH .content-1gYQeQ{background-color:rgba(28,28,28,1);}
.modeSelected-3DmyhH:hover .content-1gYQeQ{background-color:rgba(33,33,33,1);}

/* channel settings */
.scroller-3_YDR2{background-color: var(--backgroundDark);}
.cardContent-1-5hym{background-color: rgb(30,30,30);}
div[class*="marginBottom20-315RVT"]{background-color: var(--backgroundDark) !important;}
.item-4m-12I{background-color: rgb(35,35,35);}
.passthrough--fbdFR.selected-3jieYB{background-color: rgb(50,50,50);}
.folderHeader-2FpErk,.roleMemberList-ub4EsQ{background-color: rgb(30,30,30)!important;}

/* channel ping */
.numberBadge-37OJ3S{background-color: rgba(50,50,50,.9) !important; color: var(--interactive-active) !important;}

/* members */
.member-48YF_l, .members-3WRCEx{background-color: rgb(20,20,20);}
.container-1oeRFJ:hover{background-color: rgb(30,30,30);}
.container-1oeRFJ.selected-1-Z6gm,{background-color: rgb(30,30,30);} 
.container-1oeRFJ.selected-1-Z6gm:hover{background-color: rgb(40,40,40); cursor: pointer;} 

/* pins and notes */
.header-1w9Q93{box-shadow: none;}
.messageGroupWrapper-1jf_7C{margin: 0 5px 10px;}
.title-3OGHA5{color:var(--interactive-normal);}
.messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN,.jumpButton-1ZwI_j{background-color: rgb(30,30,30);}
.emptyPlaceholder-1-a1LK,.theme-dark .themedPopout-1TrfdI{background-color:rgb(25,25,25); border: 1px solid rgba(25,25,25,.8);}
.header-1w9Q93,.container-2oNtJn .small-1uriao,.popout-2iWAc-,.footer-5ji8u1{background-color:rgb(25,25,25);}

/* channel options */
.menu-1QACrS,.theme-dark .calendarPicker-sDhzdi .react-datepicker,.theme-dark .calendarPicker-sDhzdi .react-datepicker__header,.theme-dark .container-2McqkF,.button-3bklZh.selected-69H4ua{background-color: rgba(25,25,25,1) !important;}

/* search bar */
.searchBar-jGtisZ, .searchBar-jGtisZ:hover{background-color: rgba(0,0,0,.15) !important}
.searchHeader-1r_ZSh,.scroller-3iiyhZ{background-color: rgb(25,25,25);}

/* search results */
.theme-dark .queryContainer-ZunrLZ{background-color: rgb(25,25,25);)}
.searchResult-O9NDji:after{background-image:linear-gradient(180deg,transparent,var(--backgroundDark)) !important;}
.searchResult-O9NDji:before{background-image:linear-gradient(0deg,transparent,var(--backgroundDark)) !important;}
.searchResult-O9NDji,.theme-dark .tab-2j5AEF.selected-2LAck8{background-color: rgba(30,30,30,1);}
.channelName-3w2Y3c{background-color: rgba(0,0,0,0);}
.theme-dark .option-ayUoaq:after{background:linear-gradient(90deg,transparent,rgba(20,20,20,.2)) !important;}
.searchResultMessage-1fxgXh.hit-1fVM9e{box-shadow: 0 0 10px 6px var(--backgroundDark); border: 1px solid rgb(25,25,25);}
.searchResultMessage-1fxgXh.hit-1fVM9e{background-color: rgb(25,25,25);}
.jumpButton-1ol35X{background-color: transparent;}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover,.theme-dark .option-3u1gRt.selected-rZcOL- {background-color: rgba(30,30,30,1);}
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo{transition: background-color .2s ease-out;}
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo:hover{background-color:rgba(30,30,30,1);}
.da-flex,#app-mount > div:nth-child(5) > div:nth-child(2) > div.modal-2LBig1.da-modal > div.inner-1ilYF7.da-inner > div > div > div.scrollerWrap-2lJEkd.da-scrollerWrap.scrollerOuter-3FLELE.da-scrollerOuter.scrollerThemed-2oenus.da-scrollerThemed.themeGhost-28MSn0.scrollerTrack-1ZIpsv.da-scrollerTrack > div{background:transparent !important;}
.bg-1QIAus{z-index: -1;}


/* search date time picker */
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day{color:var(--text-normal);}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,.wrapper-1gVUIN,.wrapper-1gVUIN.minimum-fXpVNc{background-color: transparent;}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name,.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month,
.theme-dark .datePicker-70cO23 .datePickerHint-17MnA8,.theme-dark .paymentPane-ut5qKZ,.theme-dark .paginator-1eqD2g,.theme-dark .payment-2bOh4k,.theme-dark .codeRedemptionRedirect-3SBiCp{background-color: rgba(25,25,25,1); color: var(--main-color);}
.theme-dark .bottomDivider-ZmTm-j{border-bottom-color:#222222;}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after,.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day:hover,.theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY,.themeDefault-24hCdX.valueChecked-m-4IJZ,.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.mentioned-Tre-dv:before,#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,.bd-pfbtn,.bda-slist .bda-footer button{background-color: #555555 !important;}

/* server popout menu */
.colorDefault-CDqZdO.focused-3qFvc8{color: var(--hover-color);}

/* server notification settings modal */
.item-2idW98{background-color: transparent;}
.lookFilled-1GseHa.select-1Ia3hD{background-color: transparent;}
.popout-1KHNAq{background-color: rgb(30,30,30);}
.option-2eIyOn.focused-ODgjnC{background-color: rgb(50,50,50);}
.option-2eIyOn:hover{background-color: rgb(60,60,60);}
.icon-poPImO{color: var(--main-color);}
div[class*="item-2idW98"][aria-checked="true"]{background-color: rgb(50,50,50);}
.radioIconForeground-2BMavi{color: var(--hover-color);}
.theme-dark .guildName-1kreI8, .title-2dsDLn,.description-30xx7u,.theme-dark .channelName-IPB6B3{color: var(--main-color);}
.lookFilled-yCfaCM .contents-3ca1mk{color: var(--hover-color);}
div[style*="rgb(114, 118, 125)"]{background-color: rgb(30,30,30) !important;}

/* announcements channel */
.wrapper-2SplAX{background-color: transparent;}

/* invite people */
.scroller-3nFW5p{background-color: rgb(25,25,25);}
.theme-dark .inviteRow-3vmB7i:hover{background-color: rgb(33,33,33);}

/* create a server */
.container-x8Y1ix{background-color: rgb(30,30,30);}

/* threads */
.container-2c4_8A{background-color: rgb(30,30,30);}
.list-1uSVgu,.browser-mnQ1T7{background-color: rgb(30,30,30);}
.icon-mJhEWn{background-color: rgb(40,40,40);}
.chat-1-OBC7{background-color: var(--backgroundDark);}

/* thread dropdown */
.container-2rzKKA{background-color: rgb(30,30,30); border-color: rgb(40,40,40);}
.theme-dark .list-1uSVgu .tabBar-3N44FC .tab-1tp4jL.active-3WMEyE{background-color: rgb(45,45,45); padding-top: 4px;}

/* new thread */
.messagesWrapper-1AttHb, .scroller-oTbAWP{background-color: var(--backgroundDark);}
.resizeHandle-PBRzPC{width: 5px;}
.iconWrapper-3plkqh{background-color: rgb(30,30,30);}
.icon-382itv{color: var(--text-normal);}
.channelTextAreaInner-ITp5kW{background-color: rgb(35,35,35) !important;}
.channelTextAreaInnerFocused-3oQcB2{border-color: rgb(60,60,60);}


/*---------------------------------------------------- 4. CHAT ----------------------------------------------------*/
/* emoji */
.emoji{width: 1.9em; height: 1.9em;}

/* mentions */
.theme-dark .wrapper-1ZcZW-{background-color: transparent;}
.theme-dark .wrapper-1ZcZW-,.theme-dark .mentioned-Tre-dv .mention.interactive:hover, .theme-light .mentioned-Tre-dv .mention.interactive:hover{color:var(--selection-color);}
.wrapper-1ZcZW-:hover{color:var(--selection-color); text-decoration: underline;} 
.mentioned-Tre-dv,.mouse-mode .mentioned-Tre-dv:hover{background-color: rgba(47,47,47,.5);}

/* message - buttons */
.container-2gUZhU{position:static;}

/* new messages bar */
.newMessagesBar-1hF-9G{background-color: rgb(65, 89, 117);}

/* code markup */
.markup-eYLPri code,.selected-ugP_am{background: rgb(30,30,30); background-color: rgb(30,30,30) !important;}

/* emoji picker */
.emojiPicker-6YCk8a,.contentWrapper-3vHNP2,.categoryWrapper-UZ5YNj,.searchBar-2M9mRP,.inspector-2A2Chb,.unicodeShortcut-3N8oDe,.header-1ULbqO,.diversitySelectorPopout-3FiGaM,.scroller-2MALzE,.header-11eigE
{
	background-color: rgba(25,25,25,1) !important;
	box-shadow: none;
}
.emojiItem-277VFM.emojiItemSelected-2Lg50V,.navButtonActive-3RPAJy,.categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover {background-color: rgb(40,40,40);}
.navButtonActive-1EqC5l{background-color: rgb(25,25,25); color: rgb(210,210,210);}

/* sticker picker */
.packHeader-w9jpYl,.inspector-DFKXwB{background-color: rgb(25,25,25);}
.sticker-2Yb_-L:hover,.sticker-2Yb_-L:active,.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ{background-color: rgb(45,45,45);}

/* status emoji */
.activityEmoji-SDBJp8{height:20px;width:20px;}

/* upload modal */
.theme-dark .uploadModal-2ie9O_,.uploadModal-2ie9O_ .footer-VCsJQY.hasSpoilers-33hwf_{background-color: rgb(25,25,25);}

/* server invite */
.cursorDefault-2KkZ5q{background-color: rgb(25,25,25);}

/* website embed */
.grid-1aWVsE {background-color: rgb(25,25,25);}

/* website embed left border */
.embedFull-1HGV2S{border-color: var(--selection-color) !important;}

/* file attachment */
.attachment-1PZZB2{background-color: rgb(30,30,30); border-color: rgb(40,40,40);}

/* audio attachment */
.theme-dark .wrapperAudio-1Bzv_Z{background-color: rgb(30,30,30); border-color: rgb(40,40,40);}

/* chat window */
.scrollableContainer-15eg7h, .webkit-QgSAqd {background-color: rgba(0,0,0,0) !important; transition: .3s background-color;}

/* chat text box */
.wrapper-2vIMkT,.form-3gdLxP, .form-3gdLxP::before, .emojiButton-3FRTuj {background: transparent !important; box-shadow: none; background-color: transparent;}
.channelTextArea-1FufC0 {background: rgb(20,20,20);}
.attachWrapper-3slhXI{border-right: 1px solid transparent;}

/* unread messages */
.isUnread-3Lojb-,.unreadPillCap-2-iI4h{border-color: rgba(0,0,0,0); background-color: rgb(200,20,20) !important; background: rgb(0,0,0);border-radius: 6px 0 0 6px;}
.unreadPillCapStroke-1nE1Q8{color: transparent; fill: transparent; border-radius: 0px;}
.content-3spvdd {border-color: transparent; background-color: transparent; background: transparent;}
.unreadPill-3nEWYM {
    top: -7px;
    right: 0;
    font-size: 10.5px;
    line-height: 9px;
    font-weight: 900;
	text-shadow: 0.5px #000;
    padding: 0 6px 0 1px;
    border-radius: 0 px 6px 0;
    text-transform: uppercase;
    color: rgb(30,30,30);
    background-color: rgba(200,20,20,1);
    -webkit-box-sizing: center-box;
    box-sizing: center-box;
    border-left: none;
}

/* message popout */
.colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:hover:not(.hideInteraction-2jPGL_){background-color: rgb(25,25,25);}
.separator-1So4YB{border-color: rgb(25,25,25);}
#message-actions > div > div{background-color: rgb(25,25,25) !important;}
.button-1zW0-r{background-color: rgb(25,25,25);}
.button-1zW0-r:hover{background-color: rgb(30,30,30);}

/* context server invite */
#user-context-invite-to-server{display:none}

/* edit message */
.message-2CShn3.selected-2LX7Jy,.message-2CShn3.selected-2LX7Jy:hover{background-color: rgb(25,25,25) !important;}

/*in-app text documents*/
.hljs:not([class$='hljs']),.textContainer-36wgKK,.footer-GXWBBp,.modalTextContainer-1FUO2W{background-color: rgb(30,30,30) !important;}
.hljs:not([class$='hljs']),.textContainer-36wgKK,.footer-GXWBBp{border-color: rgb(40,40,40);}
.bd-codeblock-copy-btn,.languageSelector-2e1IuO{background-color: rgb(30,30,30) !important; color: #777777 !important;}

/* reactions and replies */
.reaction-2A2y9y{background-color: transparent;}
.reaction-2A2y9y:hover{background-color: rgb(50,50,50); border-color: var(--main-color);}
.container-A2jo65{background-color: rgb(30,30,30); color: var(--hover-color);}
.cozy-VmLDNB .repliedMessage-3Z6XBG{ border-radius: 10px; transition: 150ms;}
.cozy-VmLDNB .repliedMessage-3Z6XBG:hover,.repliedTextPreview-1bvxun.clickable-31pE3P:hover{color: #DDDDDD;}

/* emoji info popout */
.emojiSection-3QtaWO,.guildSection-2Zyzy8{background-color: rgb(25,25,25) !important;}

/* delete message */
.theme-dark .message-G6O-Wv{background-color: rgb(30,30,30) !important;}

/* reply */
.replying-eZ7p5z:before{background-color: rgb(70,70,70);}
.replying-eZ7p5z{background-color: rgb(70,70,70,.15);}
.replyBar-1oi75v{background-color: rgb(30,30,30);}

/* auto complete */
.theme-dark .autocomplete-3NRXG8,.categoryHeader-OpJ1Ly{background-color: rgb(25,25,25);}
.theme-dark .selected-3H3-RC{background-color: rgb(40,40,40);}

/* sticker suggestion */
.container-1ZA19X{display: none;}

/* upload box */
.actionBar-3pDeKY{right: 25px; top: 10px;}
.upload-3GTSF9{padding: 10px; background-color: rgb(35,35,35);}
.channelAttachmentArea-1wlgJV:last-child{border: 3px;}
.icon-2fEp67.webcode-1sNqh1{filter: grayscale(100%);}


/*---------------------------------------------------- 5. CALL & VIDEO ----------------------------------------------------*/
.chat .private-channel-call, .private-channel-call .private-channel-call-video, .private-channel-call .private-channel-call-video-wrapper, .video-35SHWt, .video-eAcneW, .videoBackground-3No02W, .videoBackgroundTransition-Pn9nCS, .videoWrapper-puUP5B{background: rgba(23,23,23,.9)!important;}
.layout-1qmrhw{background-color: transparent !important;}
.root-u9h3Ui{background-color: rgb(25,25,25);}

/* call container */
.container-1zzFcN{border-color: transparent;}

/* CALL UI */
#app-mount [class*="alignCenter-14kD11 noWrap-hBpHBz background-L8lGH6 da-background"],#app-mount [class*="noWrap-hBpHBz videoGridWrapper-2WpXPj da-videoGridWrapper"],.flexCenter-1Vz5gs{background-color: rgb(20,20,20) !important;}
.gradientContainer-phMG8d{display:none;}
.border-2Vy6FN.speaking-7QZEkv{	background-color: rgba(255,255,255,.07); box-shadow: none;}
.selectedScreen-dCYer0,.overlayTitle-2efoIF{background: none;}
.overlayTitle-2efoIF{padding: 0px;}

/* screenshare */
.card-1SdQ2-{background-color: rgb(25,25,25);}




/*---------------------------------------------------- 6. HOME ----------------------------------------------------*/
/* active now */
.scroller-hE2gWq,.emptyCard-KDifrB{background-color: var(--backgroundDark); border-color: var(--backgroundDark);}
.itemCard-3Etziu{background-color: rgb(25,25,25); border-color: rgb(30,30,30);}
.itemCard-3Etziu:hover{background-color: rgb(30,30,30) !important;}
.section-3G9aLW{background-color: rgb(30,30,30);}

/* friends list */
.actionButton-3-B2x-{background-color: transparent;}
.interactiveSelected-29CP8y,.interactive-iyXY_x:hover{background-color: rgb(30,30,30);}
.interactiveSelected-29CP8y:hover{background-color: rgb(40,40,40);}
.secondary-2bzKEX{color: var(--interactive-normal);}

/* top box-shadow */
.header-2o-2hj,.searchBar-3TnChZ,.tabBody-2dgbAs:before,.container-xm7Ad0:before{box-shadow: none;}

/* DM search bar */
.searchBar-3TnChZ,.searchBar-3TnChZ .searchBarComponent-3N7dCG{background-color: var(--backgroundDark);}
.searchBar-3TnChZ .searchBarComponent-3N7dCG:hover{background-color: rgb(30,30,30);}

/* friends pending */
div[class="flex-2S1XBF flex-3BkGQD vertical-3aLnqW flex-3BkGQD directionColumn-3pi1nm justifyCenter-rrurWZ alignCenter-14kD11 noWrap-hBpHBz wrapper-5BaSTh"],.scroller-29cQFV{background-color: transparent !important;}



/*---------------------------------------------------- 7. USER ----------------------------------------------------*/
/* user popout */
.userProfileInnerPremiumWithoutBanner-37uB4Q,.userProfileInnerWithBanner-3CJ1Og,.userProfileInnerNonPremium-1XjSjn,
.overlayBackground-arbZMT,.profileBadges-31rDHI,.divider-1tWBgZ{background: rgb(25,25,25);}
.rolePill-2Lo5dd{background-color: rgb(45,45,45) !important;}
.overlayBackground-arbZMT{margin: 24px 5px 5px;}
.headerName-fajvi9,.nameTag-H6kSJ0 .username-3JLfHz{color: var(--text-normal);}
.messageInputContainer-2rGDH8{background-color: rgb(30,30,30); border: none;}

/* add note */
.textarea-_59yqs:focus,.textarea-_59yqs:focus{background-color: rgb(25,25,25); border: 1px solid var(--deprecated-text-input-border);}

/* change server identity nickname */
.subscribeTooltipWrapper-3ipXtC{background-color: rgb(25,25,25);}

/* change nickname */
.lookLink-15mFoz .contents-3ca1mk{color: var(--hover-color);}

/* popout banner without image */
.profileBanner-1owKI5{visibility: hidden;}

/* profile */
.tabBarContainer-sCZC4w,.body-1Ukv50,.activity-2M3PRB{background-color: rgb(25,25,25); border-color: rgb(25,25,25);}
div.topSection-13QKHs > header {background-color: rgb(25,25,25);}

/* profile banner */
.profileBanner-1owKI5{background-color: rgb(25,25,25) !important;}

/* username */
.title-338goq{color:var(--hover-color);}

/* white status indicator fix */
.pointerEvents-9SZWKj[mask*= "url(#svg-mask-status-online)"]{fill: rgb(67, 181, 129) !important;}
.pointerEvents-9SZWKj[mask*= "url(#svg-mask-status-idle)"]{fill: rgb(250, 166, 26) !important;}
.pointerEvents-9SZWKj[mask*= "url(#svg-mask-status-dnd)"]{fill: rgb(240, 71, 71) !important;}

/* add friend */
.lookFilled-yCfaCM.colorGreen-3y-Z79{background-color: rgb(25,25,25);}
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover{background-color: rgb(50,50,50);}



/*---------------------------------------------------- 8. USER & SERVER SETTINGS ----------------------------------------------------*/
/* settings theme */
.detailsBlock-24pLFz,.theme-dark .feature-2IUcBI,.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B,.lookFilled-yCfaCM.colorBrand-I6CyqQ,.container-3EtAkD,.descriptionBox-1EKQKL,
.upsellContainer-L9xv7w,.upsellFooter-ZYsio_,.developerPortalCtaWrapper-2XNafh,.backgroundAccent-2YeFtZ,.featureCard-1RR4Tl,.checklistItem-37OOck,.checklistHeader-1KWcEY,.header-2Y0-A-,
.exampleContainer-2O-nVK,.previewContainer-1SS3uO,.directionColumn-3pi1nm,.descriptionInput-3b30C8,.tierHeaderContent-2-YfvN,.theme-dark .tierBody-x9kBBp, .noItemsCard-5EOcCl {background-color: rgb(25,25,25) !important;}
.sidebarRegionScroller-FXiQOh,.contentRegionScroller-2_GT_N{background-color: rgb(20,20,20);}
.background-3d_SjE{background-color:rgb(25,25,25);}
.fieldList-in8WkP{background-color:rgb(28,28,28);}
.lookFilled-yCfaCM.colorGrey-2iAG-B{background-color:rgb(28,28,28);}
.lookFilled-yCfaCM.colorGrey-2iAG-B:hover{background-color:rgb(35,35,35);}
.accountList-305sx3,.connectionHeader-2rV1ze,.connectionOptionsWrapper-1ipqUo{background-color:rgb(25,25,25);}
.guildHeader-3nh5RK{background-color:rgb(20,20,20);}
.guildSubscriptionSlots-JPXXvN{background-color:rgb(25,25,25);}
.card-2gdrYL{background-color:rgb(25,25,25);}
.card-2gdrYL:hover{background-color:rgb(30,30,30);}
#app-mount div[style*="border-color: rgb(114, 137, 218)"]{background-color:rgb(35,35,35) !important; border-color: rgb(50,50,50) !important;}
.cardPrimaryEditable-2mz_3i{background-color: rgb(25,25,25) !important;}
.css-4h5swf-singleValue,.css-19bqh2r{color: var(--main-color);}
.css-1yz4bi9-option{color: var(--main-color); background-color: rgb(30,30,30);}
.css-1ba14n5-option{background-color: rgb(40,40,40);}
.css-rzbxvl-option{background-color: rgb(50,50,50);}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG{background-color: rgb(40,40,40);}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover,.side-2ur1Qk .item-3XjbnG:hover{background-color: rgb(45,45,45) !important; color: var(--hover-color); cursor: pointer;}
.theme-dark .notDetected-2HEmAp{background-color: rgb(25,25,25) !important;}
.gameNameLastPlayed-2g48D5{background-color: transparent !important;}
.theme-dark .card-2ART2V:before{background-color: rgb(25,25,25); border-color: rgb(35,35,35);}
.theme-dark .default-1Tkeeg{background-color: rgb(25,25,25);}
.theme-dark .default-1Tkeeg:hover{background-color: rgb(40,40,40);}
.defaultColor-2cKwKo,.theme-dark .notDetected-2HEmAp .gameName-Uw4dbt,.theme-dark .notDetected-2HEmAp .lastPlayed-3aHvxk,.theme-dark .nowPlayingAdd-3lvnXJ,.theme-dark .gameName-Uw4dbt,.colorStandard-21JIj7,
.colorHeaderSecondary-g5teka,.theme-dark .summaryInfo-3hcuop,.descriptionRow-m_KyqB,.input-2g-os5{color: var(--main-color);}
.theme-dark .description-1pzois{color: var(--hover-color);}
.backgroundAccent-2YeFtZ{color: var(--hover-color);}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo,.welcomeChannel-1rFrIO{background-color: rgb(40,40,40); color: var(--hover-color);}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover{background-color: rgb(55,55,55);}
.theme-dark .headerDefault-1wrJcN,.theme-dark .headerExpanded-CUEwZ5{background-color: transparent;}
div[class*="noWrap-hBpHBz customHeader-f9DEJ_"]{background-color: var(--backgroundDark) !important;}

/* role server settings */
.flex-2S1XBF{background-color: transparent;}

/* check boxes checked */
.container-2nx-BQ{background-color: rgb(60,60,60) !important;}
[fill="rgba(59, 165, 92, 1)"]{fill: rgb(60,60,60) !important;}
[fill="rgba(114, 137, 218, 1)"]{fill: rgb(60,60,60) !important;}

/* check boxes unchecked */
[fill="rgba(114, 118, 125, 1)"]{fill: rgb(30,30,30) !important;}

/* notice */
.formNotice-2nS8ey{background-color: rgb(30,30,30); !important}

/* subscription image */
.hero-1aNo0v{filter: brightness(70%);}

/* transaction history expanded info */
.theme-dark .expandedInfo-1W31i3{background-color: rgb(30,30,30);}

/* keybinds */
.theme-dark .card-2ART2V{background-color: rgb(30,30,30);}
.theme-dark .card-2ART2V:before{opacity: 1;}

/* overlay notification */
.selected-18Wszc.option-1QI4c9,.option-1QI4c9:hover{background-color: rgb(50,50,50);}
.wrapper-SdcMKg{border-color: rgb(50,50,50);}

/* server boost status */
.tierHeaderContent-2SPBAA,.theme-dark .tierBody-1d3UiS{background-color: rgb(25,25,25);}

/* boost this server */
.perks-2IIbWQ{background-color: rgb(30,30,30);}

/* user settings popout */
.colorDefault-CDqZdO .checkbox-hADx5o{color: rgb(25,25,25);}



/*---------------------------------------------------- 9. MISC & PLUGINS ----------------------------------------------------*/
/* inbox */
.container-2ebMPP,.messagesPopout-eVzQcI{background-color: rgb(25,25,25);}
.channelHeader-DFRX8q,.messageContainer-3VTXBC,.messages-23can0{background-color: rgb(30,30,30);}
.full-motion .button-1_oXub{background-color: transparent;}
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy,.theme-dark .header-3_zmOb .tabBar-2WhZ9G .tab-2Jo-cu.active-346HgG{color: #BBBBBB; font-weight: 700; background-color: rgb(25,25,25);}

/* color replacements */
#app-mount polyLine[stroke*="#7289da"]{stroke:#777777 !important;}
#app-mount div[style*="border-color: rgb(29, 161, 242);"]{border-color: white !important;}

/* Better Discord settings v1.1.0 */
.bd-addon-list .bd-addon-card,.bd-addon-list .bd-addon-header,.bd-search-wrapper{background-color: rgb(25,25,25);}
.bd-addon-views .bd-view-button.selected{background-color:rgb(50,50,50);}
.bd-button-title{background-color: rgb(40,40,40);}
.bd-switch{background-color: rgb(60,60,60,0);}
.bd-switch-checked{background-color: rgb(40,40,40,0);}
.bd-addon-button{background-color: rgb(35,35,35);}
.bd-addon-button:hover{background-color: rgb(45,45,45);}
.bd-button-danger{background-color:rgb(160,40,40) !important;}
.bd-switch-body{--switch-color: rgb(35,35,35);}
.bd-switch input:checked+.bd-switch-body{--switch-color: rgb(60,60,60);}
.bd-select .bd-select-option{background-color: rgb(30,30,30);}
.bd-select .bd-select-option:hover{background-color: rgb(35,35,35);}
.bd-select .bd-select-option.selected{background-color: rgb(40,40,40);}
.bd-button-title:hover{background-color: rgb(50,50,50);}

/* channel tabs plugin */
.channelTabs-favContainer{background-color:rgb(20,20,20);}
.channelTabs-fav:hover{cursor: pointer;}

/* permissions plugin */
#permissions-modal-wrapper .header,#permissions-modal-wrapper .role-side,#permissions-modal-wrapper .perm-side{background-color: rgb(25,25,25) !important; color: var(--text-normal) !important;}

/* loading screen */
.cozy-3hKWhq.wrapper-15CKyy{display:none;}
.wrapper-3HVHpV{background: url(https://i.imgur.com/et5kTiH.gif) no-repeat; background-position: center bottom; background-size: 50%}

/* discovery panel */
[href="/discovery"]{display: none;}

/* nitro panel */
[href="/store"]{display: none;}

/* server boost modal */
.theme-dark .perksModal-CLcR1c{background-color: var(--backgroundDark);}
.theme-dark .ctaBar-Nhk8yY,.theme-dark .perk-19D_HN,.theme-dark .tierBody-16Chc9,.theme-dark .tierHeaderLocked-1s2JJz{background-color: rgb(30,30,30);}

/* server discovery */
.sidebar-1tnWFu,.scroller-3j5xK2{background-color: var(--backgroundDark);}
.theme-dark .card-2TuZPZ{background-color: rgb(25,25,25);}
.headerImage-2D5D-v{filter: brightness(40%);}
.search-25t1e9 .searchBox-31Zv9h{background-color: rgb(30,30,30);}

/* server full */
.theme-dark .root-g14mjS{background-color: rgb(25,25,25);}

/* send button */
.lookBlank-21BCro{background: transparent; color: var(--interactive-normal); margin-top: 8px;}
.lookBlank-21BCro:hover{color: var(--interactive-hover); transition: 0.25s ease-in-out;}

/* Server Details - DevilBro */
.flex-2S1XBF{background-color: transparent !important;}